<%= form_for(entry) do |f| %>
  <%= f.hidden_field :account_id %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <%= f.hidden_field :content, id: 'content' %>
  <div id="editable"></div>

  <div class="actions">
    <%= f.submit 'Done', onClick: "event.preventDefault(); this.form.querySelector('#content').value = this.form.querySelector('#editable').innerHTML; this.form.submit()" %>
  </div>
<% end %>

<script>var editor = new MediumEditor('#editable');</script>
