<!DOCTYPE html>
<html>
  <head>
    <title>Fives</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body>
    <% if notice %>
      <p class="Notice"><%= notice %></p>
      <% end %>
    <% if alert %>
      <p class="Alert"><%= alert %></p>
    <% end %>
    <header class="Nav">
      <nav class="Nav-content">
        <div class="Nav-content-title">
          <h3 class="Logo">fives</h3>
        </div>
        <ul class="Nav-content-items t-interface">

          <% if current_account.nil? %>
          <li><%= link_to 'About', '#' %></li>
          <% else %>
          <li>
            <span>Hello, <%= current_account.username %></span>
          </li>
          <li>
            <%= link_to 'Start Writing', new_entry_path %>
          </li>
          <li>
            <%= link_to 'Log Out', destroy_account_session_path, :method => :delete %>
          </li>
          <% end %>

        </ul>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
